<a href="" style="color:#59A0EE;font-size:17px" ng-click="addInventory()">
    <span><i style="margin-left:10px" class="glyphicon glyphicon-arrow-left"></i></span>
    <span >Back</span>
    </a>

<div>
<p style="text-align:center;color:#fff;font-size:20px">
 	Special Instructions
</p>
<hr>
	<textarea class="form-control" rows="6" id="orderNote" ng-model="orderNote" name="orderNote" ></textarea>
    <div class="form-group" style="text-align:center;margin-top:15px;margin-bottom:10px">    
    <button  class="btn btn-cta-primary" style="width:300px; margin:auto" ng-click="viewConfirmation()">
            	Next
    </button>
           
    </div>
</div>