<div class="upper-wrapper" >
<!--<script type="text/javascript">mixpanel.track("wli_thankyou")</script>-->
    <section class="login-section access-section section" style="padding-top: 10px;padding-bottom: 0px;">
        <div class="row">
            
            <div class="form-box ">
                <div class="form-box-inner" style="background: #1FBAD6; color:#fff;">
                    <h2 class="panel-title text-center" style="font-weight: bold;font-size:19px
                    color:#fff;">Your order has been placed successfully!</h2>
                </div>
                
        </div>
    </div>
</section>
</div>          
        