<div class="upper-wrapper" style="margin-top:10px;padding: 0px 1px;">
	<p style="text-align:center;font-size:20px;color:#fff">
		Schedule a Pickup
		<hr>
	</p>

	<p style="color:#fff">
		Pickup Date & Time
		<input class="form-control" name="pickupDate" id="pickupDate">
	</p>
	<div class="form-group" style="text-align:center">    
            <button  class="btn btn-cta-primary" style="width:300px; margin:auto" ng-click="addInventory()">
            	Next
            </button>
           
    </div>
</div>